<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>♄ Aqua Lead</title>
    <style type="text/css">
        .container {
            display: flex;
            align-items: stretch;
        }

        .container > * {
            flex: 1 1 0px;
            width: 50%;
        }

        dt, dd, li {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>
